<h2 mat-dialog-title>Change Password</h2>
<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
  <mat-dialog-content>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Old Password</mat-label>
      <input matInput [type]="hideOldPassword ? 'password' : 'text'" formControlName="oldPassword">
      <button mat-icon-button matSuffix (click)="hideOldPassword = !hideOldPassword" type="button">
        <mat-icon>{{ hideOldPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="changePasswordForm.get('oldPassword')?.hasError('required')">
        Old password is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>New Password</mat-label>
      <input matInput [type]="hideNewPassword ? 'password' : 'text'" formControlName="newPassword">
      <button mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword" type="button">
        <mat-icon>{{ hideNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('required')">
        New password is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Confirm New Password</mat-label>
      <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword">
      <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" type="button">
        <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="changePasswordForm.get('confirmPassword')?.hasError('required')">
        Please confirm your new password.
      </mat-error>
      <mat-error *ngIf="changePasswordForm.hasError('passwordMismatch')">
        Passwords do not match.
      </mat-error>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions >
    <button mat-button (click)="dialogRef.close()">Cancel</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="changePasswordForm.invalid">
      Change Password
    </button>
  </mat-dialog-actions>
</form>
